ADVANCED METHODS OF CHANGING ROW AND COLUMN VALULES:

1.apply()
2.map()
3.applymap()
4.replace()

In [10]:
import pandas as pd
people={
    "First" :["Siddhant","Rupaniwta","Karan"],
    "Last" :["Roy","Sahani","Yadav"],
    "Email":["siddhantroy@gmail.com","rupaniwtasahani@gmail.com","karanyadaav@gmail.com"],
    
}
df=pd.DataFrame(people)
df

       First    Last                      Email
0   Siddhant     Roy      siddhantroy@gmail.com
1  Rupaniwta  Sahani  rupaniwtasahani@gmail.com
2      Karan   Yadav      karanyadaav@gmail.com

1.apply() works different for series and dataframe:  
Let's first see how it works on series:

In [2]:
# it applies a single function or method to each value of a series:

df["Email"].apply(len)
#it took the len function and applied it to each value in the email series

0    21
1    25
2    21
Name: Email, dtype: int64

In [3]:
#let's make a function of our own and apply it to each value:

def update(email):
    return email.upper()
df["Email"].apply(update)

#it took our function and returned a uppercase version of all our email values
#don't put paranthesis after the function becoz we don't want to execute the function itself

0        SIDDHANTROY@GMAIL.COM
1    RUPANIWTASAHANI@GMAIL.COM
2        KARANYADAAV@GMAIL.COM
Name: Email, dtype: object

In [4]:
#to change the value using this method we could simply say:
df["Email"]=df["Email"].apply(update)

df
#we can see the uppercase values are now being updated on the actual dataframe

       First    Last                      Email  Age
0   Siddhant     Roy      SIDDHANTROY@GMAIL.COM   18
1  Rupaniwta  Sahani  RUPANIWTASAHANI@GMAIL.COM   13
2      Karan   Yadav      KARANYADAAV@GMAIL.COM   20

Let's see how apply() works for dataframe

In [5]:
df.apply(len)

#applying apply() function to a whole dataframe will not give the length of each value rather it would return the len of each column or series or in simple words it will give how many values are present in a single column

First    3
Last     3
Email    3
Age      3
dtype: int64

In [6]:
#we can change the axis also to see how many values are there in a single row:

df.apply(len,axis="columns")

0    4
1    4
2    4
dtype: int64

In [7]:
min_age=df["Age"].min()
print(min_age)

13

To apply a function to each and every values in a dataframe we have to use .apllymap() function:

In [11]:
#applymap only works for dataframe not for series :
#since int has no len attribute so we removed the columnn to see the results:

df.applymap(len)

C:\Users\Siddhant Roy\AppData\Local\Temp\ipykernel_9648\1578915258.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(len)

   First  Last  Email
0      8     3     21
1      9     6     25
2      5     5     21

In [13]:
#since we have every character as str we can apply this str.upper to the whole dataframe:
new_data=df.applymap(str.upper)
new_data

C:\Users\Siddhant Roy\AppData\Local\Temp\ipykernel_9648\1022656275.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  new_data=df.applymap(str.upper)

       First    Last                      Email
0   SIDDHANT     ROY      SIDDHANTROY@GMAIL.COM
1  RUPANIWTA  SAHANI  RUPANIWTASAHANI@GMAIL.COM
2      KARAN   YADAV      KARANYADAAV@GMAIL.COM

map() and replace() function:

In [16]:
df["First"].map({"Siddhant":"SIDDHANT","Karan":"KARAN"})
#map() function changes the series values by the given values and the rest is changed to nan or null:

0    SIDDHANT
1         NaN
2       KARAN
Name: First, dtype: object

In [18]:
#to avpid the nan thing we can use replace instead:
#again it's not making changes to the actual dataframe if u want to make the changes u can simply assign this valu to df["first"]:
df["First"].replace({"Siddhant":"SIDDHANT","Karan":"KARAN"})

0     SIDDHANT
1    Rupaniwta
2        KARAN
Name: First, dtype: object