In [6]:
import pandas as pd 
fifa_df=pd.read_csv("2018 FIFA World Cup Squads.csv")
fifa_df[["Age","Player"]]

     Age                     Player
0     45  Essam El-Hadary (captain)
1     29                   Ali Gabr
2     30           Ahmed Elmohamady
3     26                 Omar Gaber
4     26                  Sam Morsy
..   ...                        ...
731   23               M'Baye Niang
732   23                Keita Baldé
733   28             Lamine Gassama
734   19               Moussa Wagué
735   24               Alfred Gomis

[736 rows x 2 columns]